@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html { width: 100%; height:100%;}
body { 
	margin: 0px;
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
    text-align: center;
}
.login { 
    position: absolute;
    position: absolute;
    top: 25%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width:200px;
    height:200px;
}
.login img{
	width: 100%;
	margin-bottom: 30px;
}
.content h1 { 
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing:1px;
    text-align:center; 
    margin-top: 0px;
    padding-top: 10px;
}
h4{
    color: white;
    padding: 10px;
    margin: 0px;
}

input { 
    width: 100%; 
    margin-bottom: 10px; 
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.modal-header{
    background-color: #2C2E59;
    color: white;
    font-family: Lato;
    font-size: 20px;
    padding: 8px;
    padding-bottom: 0px;
    border: 0px;
}

footer{
    display: none;
	background-color: rgba(245, 245, 245, 0.09);
    left: 0px;
    width:100%;
    text-align: center;
    height: 64px;
}

#end{
    background-color: transparent;
    bottom: 0px;
}
#loading{
    background-color: white;
    position: fixed;
    margin-left: -155px;
    margin-top: -155px;
    top: 50%;
    left: 50%;
}
.floating-action-button {
    position: fixed;
    top:    8px;
    right: 8px;
    z-index: 1000;
}
ul.dropdown-menu {
	box-shadow: none;
	border: 0;
	min-width:0;
	background:transparent
}
#menu{
    top: 100%;
}
.header{
    height: 64px;
    color: white;
}
.dropdown-menu>li>a{
	cursor: pointer;
	padding: 5px 0px;
}
.modal-content{
    background-color: #232224;
}
.modal-body{
    padding: 0px;
}
#mainpage, .upage-outer{
    height: 100%;
}
.box img{
    display: inline-block;
	
    width: 100%;
}
html::-webkit-scrollbar { 
     display: none; 
 }
 button{
	 padding: 0px;
	 border-radius: 5px;
	 border: 0px;
 }
 .container{
	 width: 100%;
	 padding: 0px;
     overflow: scroll;
 }
 .box-header{
	 background-color: rgba(255, 255, 255, 0.19);
	 height: 50px;
	 color: white;
	 text-align: left;
	 padding: 5px;
 }
 .list-group-item-header{
    color: #FFF;
    font-size: 20px;
 }
 .list-group-item-text{
    color: #CCC;
    font: 16px;
 }
 .box h3{
    margin-top: -38px;
    margin-right: 10px;
    text-align: right;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px #000000;
    margin-bottom: 21px;
 }
 .mini-box{
    position: relative;
    margin-left: 1.8%;
    margin-bottom: 1.8%;
    width: 31%;
    float: left;
 }
 #buttons{
    display: none;
    padding: 5px;
 }
 #local{
    float: left;
    margin: 2%;
    color: #ffffff;
    font-family: 'Lato', sans-serif; 
    font-size: 23px;
    line-height: 85%;
    width:50%;
}
.box h2{
    margin: 10px;
    font-family: 'Lato';
}
#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    height: 200px;
    width: 200px;
    text-indent: 250px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-mask-image: url(../images/Spinner.png);
    background-color: #feefee;
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes spinnerRotate {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}
button{
    width: 50px;
    height: 50px;
    border-radius: 9px;
	margin-bottom: 5px;
    background-color: transparent;
}
#camera-buttons{
    text-align: center;
    position: fixed;
    bottom: 5px;
    width: 100%;
}
#options{
    background: url(../images/Options2.png);
    width: 50px;
    height: 50px;
}
#position{
    background-image: url(../images/Man2.png);
    position: relative;
}
#search{
    background-image: url(../images/Find2.png);
    position: relative;
}
#back{
    background-image: url(../images/Back2.png);
}
#camera{
    background-image: url(../images/Camera2.png);
}
#route{
    background-image: url(../images/Route2.png);
}
#camera-v{
    background-image: url(../images/Route2.png);
}
#camera-x{
    background-image: url(../images/Route2.png);
}
#config, #config2{
    background: transparent;
    background-image: url(../images/Burger.png);
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
}
.user-options{
	width: 40px;
	height: 40px;
	position: relative;
    float: right;
	right: 5px;
    background: transparent;
    background-image: url('../images/Xis.png');
}
.info{
    text-align: center;
    height: 40px;
    color: #FFF;
    position: fixed;
    z-index: 100;
    background-color: #3d3254;
    margin: 5px;
}
.info p{
    float: left;
    margin-left: 3px;
    padding: 10px;
}
.autor{
	position: relative;
	float: left;
	height: 40px;
	width: 150px;
	padding: 10px; 
}
.picture{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	position: relative;
	float: left;
}
#range{
	width: 25%;
    float: left;
    font-size: 10px;
    margin: 8px;
    height: 30px
}
.list-group-item{
    background-color: #232224;
    border: 0px;
    color: #286aab;
    font-size: 1.2em;
}
#element::-webkit-scrollbar { 
    display: none; 
}