/* Component styles */
.button.styl-material {
	-webkit-transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
	transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
	background: #232224;
	outline: none;
    color: #286aab;
    font-size: 1.1em;
    text-align: left;
}
.button {
    margin: 0;
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 15px;
}

.ripple-obj {
	height: 100%;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	fill: #333;
}

.ripple-obj use {
	opacity: 0;
}

.cbutton {
	display: inline-block;
	padding: 0;
	border: none;
	color: #286aab;
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton.cbutton--click,
.cbutton:focus {
	outline: none;
	color: #3c8ddc;
}

.cbutton__icon {
	display: block;
}

.cbutton__text {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.cbutton::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}

.cbutton--box {
	width: 24px;
	height: 24px;
	border: 4px solid rgb(22, 35, 47);
}

.cbutton--box-color-1 {
	background: #ff8b00;
}

.cbutton--box-color-2 {
	background: #b61854;
}

.cbutton--box-color-3 {
	background: #1d5cab;
}

.cbutton--box-color-4 {
	background: #f2438c;
}

.cbutton--box-color-5 {
	background: #ff6414;
}

.cbutton--box-color-6 {
	background: #5ed500;
}

.cbutton--box-color-7 {
	background: #0077ff;
}

.cbutton--box-color-8 {
	background: #7bff00;
}

.cbutton--box-color-9 {
	background: #fff;
}

/* Individual Effects */

/* Effect Boris */
.cbutton--effect-boris::after {
	background: rgba(111,148,182,0.1);
}

.cbutton--effect-boris.cbutton--click::after {
	-webkit-animation: anim-effect-boris 0.3s forwards;
	animation: anim-effect-boris 0.3s forwards;
}

@-webkit-keyframes anim-effect-boris {
	0% {
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes anim-effect-boris {
	0% {
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}
.icons{
	width: 30px;
	height: 30px;
    float: left;
    margin-top: -5px;
    margin-right: 10px;
    background-color: #FFF;
}

#conta .icons{
	background-image: url(../images/conta.png)
}
#indicar .icons{
	background-image: url(../images/apontar.png)
}
#sobre .icons{
	background-image: url(../images/sobre.png)
}
#logout .icons{
	background-image: url(../images/logout.png)
}