
.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #232224;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 2000;
  width: 0px;
  min-width: 0px;
  overflow: hidden;
  transition: 0.35s width ease, 0.35s min-width ease;
  color: white;
}

.aside .aside-header {
  background: #293b62;
  background: -webkit-linear-gradient(left top, #6d4149, #0d254c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #6d4149, #0d254c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #6d4149, #0d254c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #6d4149, #0d254c); /* Standard syntax */
  font-size: 1.2em;
  color: #fff;
  height: 64px;
  padding: 10px;
}

.aside .aside-header .close {
  float: right;
  cursor: pointer;
}

.aside .aside-contents {
  padding-bottom: 1em;
}

.aside.in {
  width: 75%;
}

.aside-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  transition: 0.2s opacity ease;
  opacity: 0;
  display: none;
}

.aside-backdrop.in {
  display: block;
  opacity: 0.5;
}

